/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.cart-title {
  font-size: 24px;
  color: #666876;
  font-weight: 600;
  margin-bottom: 20px;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.cart-items {
  flex: 3;
  margin-right: 20px;
}

.cart-header {
  display: flex;
  background-color: #FFF281;
  color: #666876;
  font-weight: 600;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cart-header span {
  flex: 1;
  text-align: left;
  margin-left: 110px;
}

