.checkout-summary {
    background-color: #9ACC8C;
    padding: 20px;
    border-radius: 8px;
    width: 220px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
  }
  .checkout-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .subtotal {
    border-top: 1px solid #FFFFFF; /* Warna garis putih */
    padding-top: 10px; /* Tambah sedikit jarak antara garis dan teks */
    margin-top: 10px; /* Tambah jarak dari elemen sebelumnya */
  }

  .checkout-total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 10px;
    border-top: 1px solid #FFFFFF;
    padding-top: 8px;
  }
  
  .checkout-button {
    width: 100%;
    padding: 10px;
    background-color: #344A65;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
  }
  
