@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.order-list-container {
    width: 100%;
    border-radius: 10px;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    color: #666876;
    margin-left: 30px;
}

.order-title {
    font-size: 24px;
    font-weight: bold;
    color: #666876;
    margin-bottom: 20px;
}

.order-list-header {
    display: flex;
    background-color: #FFF281;
    border-radius: 10px;
    padding: 15px 20px;
    width: 95%;
    font-weight: bold;
    color: #666876;
    margin-bottom: 10px;
}

/* Style each header item with proportional widths */
.header-order-no, .header-date, .header-total-order, .header-status {
    text-align: center;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-order-no {
    flex-basis: 30%;
}

.header-date {
    flex-basis: 23%;
}

.header-total-order {
    flex-basis: 24%;
}

.header-status {
    flex-basis: 23%;
}

.order-item {
    display: flex;
    padding: 20px 30px;
    border: 2px solid #FFF281;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 5px;
    width: 95%;
}

.order-item span {
    text-align: center;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-item .order-no {
    flex-basis: 30%;
}

.order-item .date {
    flex-basis: 23%;
}

.order-item .total-order {
    flex-basis: 24%;
}

.order-item .status {
    flex-basis: 23%;
}

/* Status colors based on logic */
.status-progress {
    color: red;
    font-weight: bold;
}

.status-done {
    color: #4DA14D;
    font-weight: bold;
}
